body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-left: 50px;
}

.logo {
    width: 100px;
}

.slogan h1 {
    font-size: 32px;
    margin-left: 30px;
}

.year-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.year-dropdown {
    display: flex;
    align-items: center;
}

.year-dropdown label {
    font-size: 18px;
    margin-right: 10px;
}

.year-dropdown select {
    font-size: 16px;
    padding: 5px;
}

.year-dropdown button {
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.total-consumption {
    font-size: 15px;
    margin-top: 10px;
    text-align: right;
}

.chart-container {
    margin-top: 20px;
    text-align: center;
}

.chart-name {
    font-size: 18px;
    margin-top: 10px;
}