.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.button-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-header-item {
  margin-top: 20px;
  margin-right: 100px;
  right: 0px;
  padding: 12px 24px;
  background-color: #cdebff;
  background-size: 30px;
  margin-right: 20px; 
}
.button-header-item a {
  text-decoration: none;
  color: #333;
  font-size: 16px; 
}


.header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-left: 50px;
    justify-content:space-between;
  }
  
  .logo {
    width: 100px;
  }

  .slogan h1 {
    font-size: 32px;
    margin-left: 30px;
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

#invoice {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-clip: padding-box; 
}

.header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.customer-info, .invoice-details, .total {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    display: block;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}