body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}
.control {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-left: 50px;
}

.logo {
    width: 100px;
}

.slogan h1 {
    font-size: 32px;
    margin-left: 30px;
}

.year-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.year-dropdown {
    display: flex;
    align-items: center;
}

.year-dropdown label {
    font-size: 18px;
    margin-right: 10px;
}

.year-dropdown select {
    font-size: 16px;
    padding: 5px;
}

.year-dropdown button {
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.year-options, .search-container {
    margin-right: 80px;
}

.total-consumption {
    font-size: 15px;
    margin-top: 10px;
    text-align: right;
}

.search-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container input[type="text"] {
    font-size: 16px;
    padding: 5px;
}

.search-container button {
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.add-household {
    margin-top: 20px;
    display: flex;
    text-align: right;
    align-items: center;
    margin-left: 430px;
    
}
.add-household button {
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.chart-container {
    margin-top: 20px;
    text-align: center;
}

.chart-name {
    font-size: 18px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Style for the modal dialog */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.modal input[type="text"] {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.modal button {
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.total-household {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}



#pagination {
    display: flex;
    justify-content: center;
}

#pagination a {
    display: inline-block;
    padding: 8px;
    margin: 0 4px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#pagination a:hover {
    background-color: #f2f2f2;
}

.active {
    background-color: #007bff;
    color: #fff;
}

/* menu */

.action-menu {
    position: relative;
    display: inline-block;
}

.action-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.menu-content {
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1; 
}

.menu-content-button{
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.menu-content button:hover {
    background-color: #ddd;
}
